header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	backdrop-filter: blur(30px);
}

.header-left {
	display: flex;
	align-items: center;
	font-size: 1rem;
	margin-left: 1rem;
}

.header-right {
	margin-right: 1rem;
}

.theme-button, .source-code, .dropdown-button {
	font-size: 1.3rem;
	background-color: transparent;
	padding: .7rem;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: .2s ease;
}

.theme-icon, .source-code {
	font-size: 1.5rem;
	padding: .9rem;
}

.theme-button:hover, .source-code:hover {
	background-color: rgba(0, 0, 0, .1);
	transition: .2s ease;
}

.language {
	display: flex;
	padding: .3rem .25rem;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .1);
}

.language-item {
	padding: .3rem .5rem;
	border-radius: 4px;
	cursor: pointer;
}

.language-active {
	background-color: rgba(255,255,255,.5);
	font-weight: 500;
}

.header-title {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 4rem;
	font-size: 1.3rem;
	font-weight: bold;
	pointer-events: none;
}

.source-code, .language-item {
	color: black;
	text-decoration-line: none;
}

.dropdown-menu {
	right: -185px;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 4rem;
	backdrop-filter: blur(30px);
	padding: .5rem;
	margin: .2rem;
	border-radius: 5px;
	transition: .2s ease;
}

.language.mobile {
	flex-direction: column;
}

.source-code.mobile, .theme-button.mobile {
	padding: .5rem;
	display: flex;
	align-items: center;
}

.source-code_text, .theme-button_text {
	font-size: 1.1rem;
}

.source-code_text, .source-code_icon, .theme-button_text, .theme-button_icon {
	margin-right: 10px;
}

.dropdown-button {
	display: none;
}

.dropdown-button:hover .dropdown-menu {
	right: 100px;
}

.dropdown-menu.active {
	right: 0;
	transition: .2s ease;
}

@media screen and (max-width: 650px) {
.language.left {
	display: none;
}

.theme-button.right, .source-code.right {
	display: none;
}

.header-title {
	justify-content: left;
	margin-left: 1rem;
	height: 3.5rem;
}

.dropdown-button {
	display: block;
}
}
