.known-languages {
	display: flex;
	justify-content: space-evenly;
	margin-top: 5px;
	flex-wrap: wrap;
	color: var(--fg);
	transition: var(--transition);
}

.knowledge-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.knowledge-item_img {
	width: 60px;
}

.knowledge-item_text {
	font-size: .8rem;
	font-weight: 500;
}
