.portfolio-items {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: var(--fg);
	transition: var(--transition);
}

.portfolio-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.portfolio-item_img {
	width: 290px;
	border-radius: 10px;
	transition: var(--transition);
}

.portfolio-item_img:hover {
	filter: brightness(1.75);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	transition: var(--transition);
}

.portfolio-item_title {
	font-weight: bold;
}

@media screen and (max-width: 650px) {
	.portfolio-item_img {
		width: 100%;
	}
}
