.profile {
	display: flex;
}

.profile-img {
	margin: 1rem;
	width: 10rem;
	border-radius: 1rem;
}

.profile-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile-title{
	font-size: 4rem;
	font-weight: bold;
}
.profile-subtitle{
	font-size: 1.5rem;
}
